<div class="container">
  <div class="content-wrapper">
    <div class="left-content">
      <h1>Hi Welcome to my hut</h1>
      
      <p class="lorem-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique 
        purus orci libero egestas ut. Augue suspendisse blandit lorem massa 
        ipsum, urna, egestas mi, lacinia. Dui fusce etiam libero, lectus amet, 
        risus molestie malesuada. Odio nam purus consectetur euismod 
        congue leo quisque. Turpis amet sollicitudin nunc non in lectus dolor 
        amet. Amet ullamcorper faucibus tincidunt accumsan ac adipiscing 
        arcu. Donec tristique at proin maecenas. Ante elit et laculis ac sit.
      </p>
      
      <div class="buttons">
        <a href="/contact" class="contact-btn">contact</a>
        <a href="#" class="download-cv">download CV ↓</a>
      </div>
      
      <div class="social-icons">
        <a href="#" class="social-icon">in</a>
        <a href="#" class="social-icon">📷</a>
        <a href="#" class="social-icon">f</a>
        <a href="#" class="social-icon">🐦</a>
      </div>
    </div>
    
    <div class="right-content">
      <div class="profile-container">
        <img src="/images/profile.jpg" alt="profile" class="profile-image">
        <div class="profile-info">
          <div class="profile-name">Rhoma Irama</div>
          <div class="profile-title">Fullstack Developer</div>
        </div>
      </div>
    </div>
  </div>
</div>
